workflow/inbox_triage_agent.json
{
  "name": "Inbox Triage v1",
  "nodes": [
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#n8n-triage",
          "mode": "name"
        },
        "text": "={{ \"📥 *New \" + $('Code in JavaScript1').item.json.category + \" email* — urgency \" + $('Code in JavaScript1').item.json.urgency + \"/5\\n\\n*From:* \" + ($('Code in JavaScript1').item.json.email_from || \"unknown\") + \"\\n*Company:* \" + ($('Code in JavaScript1').item.json.company || \"—\") + \"\\n*Subject:* \" + ($('Code in JavaScript1').item.json.email_subject || \"(none)\") + \"\\n*What they want:* \" + $('Code in JavaScript1').item.json.intent + \"\\n\\n*Suggested reply (review before sending):*\\n>\" + $('Code in JavaScript1').item.json.draft_reply.replace(/\\n/g, \"\\n>\") + \"\\n\\n_Logged to Airtable as pending. Approve or edit the draft before replying._\" }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1472,
        -16
      ],
      "id": "badf6f43-7e67-4c84-a16a-3446a8cf25c3",
      "name": "Send a message",
      "webhookId": "514ba02d-1cbf-4e05-bee0-805813924f62",
      "credentials": {
        "slackApi": {
          "id": "SmhaoRQ2F5k2oo5f",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-lite:generateContent?key={{ $credentials.googleApi.key }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept-Encoding",
              "value": "identity"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.geminiBody) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        80
      ],
      "id": "0d22a468-2c0c-4348-b0cb-e2619d8b05b8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Build the Gemini request body cleanly in code, avoiding JSON-in-JSON escaping issues.\n// This runs once per incoming email item.\n\nconst email = $input.item.json;\n\n// Pull the fields the Gmail Trigger gives us, with safe fallbacks.\nconst from = email.From || 'unknown';\nconst subject = email.Subject || '(no subject)';\nconst content = email.snippet || '(no content)';\n\n// The instruction prompt. Using a normal JS template literal — newlines are fine here\n// because we are NOT inside a JSON string; we build a real object below.\nconst prompt = `You are an email triage assistant for a small business. Analyze the email below and return a JSON object with exactly these fields:\n\n- category: one of [sales_lead, support, billing, spam, other]\n- name: the sender's first and last name, or null if not found\n- company: the sender's company name, or null if not found\n- intent: one sentence describing what the sender wants\n- urgency: integer 1-5 where 1=not urgent, 5=extremely urgent\n- draft_reply: a short, professional reply draft the human can edit and send\n\nRules:\n- Return ONLY valid JSON, no explanation, no markdown, no code fences\n- Never fabricate information not present in the email\n- If a field cannot be determined, use null\n- urgency 5 is reserved for legal threats, outages, or explicit deadlines today\n\nEmail to analyze:\nFrom: ${from}\nSubject: ${subject}\nContent: ${content}`;\n\n// Build the full Gemini request body as a real JS object.\n// n8n will serialize this to valid JSON automatically — no manual escaping needed.\nconst geminiBody = {\n  contents: [\n    {\n      parts: [\n        { text: prompt }\n      ]\n    }\n  ],\n  generationConfig: {\n    responseMimeType: \"application/json\",\n    responseSchema: {\n      type: \"object\",\n      properties: {\n        category: { type: \"string\", enum: [\"sales_lead\", \"support\", \"billing\", \"spam\", \"other\"] },\n        name: { type: \"string\", nullable: true },\n        company: { type: \"string\", nullable: true },\n        intent: { type: \"string\" },\n        urgency: { type: \"integer\" },\n        draft_reply: { type: \"string\" }\n      },\n      required: [\"category\", \"name\", \"company\", \"intent\", \"urgency\", \"draft_reply\"]\n    }\n  }\n};\n\n// Pass both the original email (so later nodes still have it) and the request body.\nreturn {\n  json: {\n    ...email,\n    geminiBody: geminiBody\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        80
      ],
      "id": "bd523490-07af-479f-8cab-88d7ededd3a5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// PHASE 5: Parse Gemini's response, validate it against our schema, and flag\n// anything malformed so it can be routed to a safe-fail branch instead of\n// silently writing garbage downstream. This is the reliability core of the agent.\nconst response = $input.item.json;\n// --- Step 1: Safely dig out the model's text output ---------------------------\nlet rawText;\ntry {\n  rawText = response.candidates[0].content.parts[0].text;\n} catch (e) {\n  rawText = null;\n}\n// --- Step 2: Parse the text as JSON inside a try/catch ------------------------\nlet parsed = null;\nlet parseError = null;\nif (rawText) {\n  try {\n    parsed = JSON.parse(rawText);\n  } catch (e) {\n    parseError = `JSON parse failed: ${e.message}`;\n  }\n} else {\n  parseError = 'No text found in Gemini response (unexpected response shape).';\n}\n// --- Step 3: Validate the parsed object against our expected schema -----------\nconst allowedCategories = ['sales_lead', 'support', 'billing', 'spam', 'other'];\nconst validationErrors = [];\nif (parsed) {\n  if (!allowedCategories.includes(parsed.category)) {\n    validationErrors.push(`category \"${parsed.category}\" not in allowed list`);\n  }\n  if (typeof parsed.intent !== 'string' || parsed.intent.trim() === '') {\n    validationErrors.push('intent missing or empty');\n  }\n  if (!Number.isInteger(parsed.urgency) || parsed.urgency < 1 || parsed.urgency > 5) {\n    validationErrors.push(`urgency \"${parsed.urgency}\" is not an integer 1-5`);\n  }\n  if (typeof parsed.draft_reply !== 'string' || parsed.draft_reply.trim() === '') {\n    validationErrors.push('draft_reply missing or empty');\n  }\n}\n// --- Step 4: Decide validity and build a clean, flat output -------------------\nconst isValid = parsed !== null && validationErrors.length === 0;\n\n// CHANGED: reference 'Get many messages' instead of 'Gmail Trigger'\nconst email = $('Get many messages').item.json;\n\n// ADDED: carry message_id forward so mark-as-read nodes can use it\nconst messageId = email.id;\n\nreturn {\n  json: {\n    is_valid: isValid,\n    error_reason: isValid\n      ? null\n      : [parseError, ...validationErrors].filter(Boolean).join('; '),\n    email_from: email.From ?? null,\n    email_subject: email.Subject ?? null,\n    email_snippet: email.snippet ?? null,\n    // ADDED: message_id for mark-as-read\n    message_id: messageId,\n    category: parsed?.category ?? null,\n    name: parsed?.name ?? null,\n    company: parsed?.company ?? null,\n    intent: parsed?.intent ?? null,\n    urgency: parsed?.urgency ?? null,\n    draft_reply: parsed?.draft_reply ?? null,\n    _raw_model_text: rawText,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        80
      ],
      "id": "a63ee7b2-b97d-4cd0-920a-246990ef04d6",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "98f8907b-14c2-4fd9-8011-936b0559cec9",
              "leftValue": "=={{ $json.is_valid }}",
              "rightValue": "yes",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        80
      ],
      "id": "d70c6e1f-6d79-4d6c-8a7a-d158e2ce4fbf",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appbSHEvilwlnbs9i",
          "mode": "list",
          "cachedResultName": "Email Triage",
          "cachedResultUrl": "https://airtable.com/appbSHEvilwlnbs9i"
        },
        "table": {
          "__rl": true,
          "value": "tblYjxlWz07vWNlQV",
          "mode": "list",
          "cachedResultName": "Emails",
          "cachedResultUrl": "https://airtable.com/appbSHEvilwlnbs9i/tblYjxlWz07vWNlQV"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "category": "={{ $json.category }}",
            "name": "={{ $json.name }}",
            "company": "={{ $json.company }}",
            "intent": "={{ $json.intent }}",
            "urgency": "={{parseInt($json.urgency, 10)}}",
            "draft_reply": "={{ $json.draft_reply }}",
            "status": "pending"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "draft_reply",
              "displayName": "draft_reply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "pending",
                  "value": "pending"
                },
                {
                  "name": "approved",
                  "value": "approved"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1248,
        -16
      ],
      "id": "0da299d9-459c-438b-aa49-9808e70b3061",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "ARU9UDyHJoBYwHXu",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#n8n-triage",
          "mode": "name"
        },
        "text": "={{ \"⚠️ *Triage failed — needs manual review*\\n\\n*From:* \" + ($json.email_from || \"unknown\") + \"\\n*Subject:* \" + ($json.email_subject || \"(none)\") + \"\\n*Reason:* \" + ($json.error_reason || \"unknown error\") + \"\\n\\nThe AI response couldn't be validated, so nothing was written to Airtable. Please review this email manually.\" }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1248,
        176
      ],
      "id": "8325e151-20a4-4fce-82a1-504b59bcff41",
      "name": "Send a message1",
      "webhookId": "620c2983-ba58-4053-9100-aba298607a08",
      "credentials": {
        "slackApi": {
          "id": "SmhaoRQ2F5k2oo5f",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -96,
        80
      ],
      "id": "f61156d0-4a3d-4a4b-b8d3-125b4cdc1952",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 20,
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        128,
        80
      ],
      "id": "1c3811d2-65aa-475c-a80b-bb94bf6d5e0a",
      "name": "Get many messages",
      "webhookId": "cfd0a96b-580a-44a7-acc4-990e884c395e",
      "credentials": {
        "gmailOAuth2": {
          "id": "FyBwYD6JMJSanahH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Code in JavaScript1').item.json.message_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1680,
        -16
      ],
      "id": "a891267d-7166-4245-b3c6-aa43597e249c",
      "name": "Mark a message as read",
      "webhookId": "e6b6d098-7880-41cb-b9a0-340f90c9e924",
      "credentials": {
        "gmailOAuth2": {
          "id": "FyBwYD6JMJSanahH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Code in JavaScript1').item.json.message_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1456,
        176
      ],
      "id": "d874a587-1d0d-4c42-9c0c-22eb2f28da22",
      "name": "Mark a message as read1",
      "webhookId": "a8b76dd6-5194-4570-8c0f-a4f7da655213",
      "credentials": {
        "gmailOAuth2": {
          "id": "FyBwYD6JMJSanahH",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Mark a message as read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e5efeb5c-c2e4-4581-9ddb-7d1466b393cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38442f0e028741218a74b3e446b45745b5ccca618759c2bcb4eb6c4f0b660dc2"
  },
  "nodeGroups": [],
  "id": "1z3tDllwF8vHkSVn",
  "tags": []
}
